<!doctype html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Tom Jepson Creative</title>

<style>

div.banner {
    Background-color: black;
}

section {
    margin: 0 auto;
    max-width: 1200px;
    width: 75vw;    
}

</style>

</head>

<body>

<div class="banner">
<a href="/index/">< Back</a>
<p>This website is in beta mode! The services are live while the new website is designed and built</p>
</div>

<section>

    {{ content | safe }}

</section>

</body>

</html>