<!doctype html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Tom Jepson Creative</title>

<style>

html, body, div {
    margin: 0;
    padding: 0;
}

div.banner_container {
    background-color: black;
    color: white;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

div.banner_container p.banner {
    padding: 0;
    text-align: center;
}

section {
    margin: 0 auto;
    max-width: 1080px;
    width: 90vw;
}

</style>

</head>

<body>

<div class="banner">
<p class="banner">This website is in beta mode! The services are live while the new website is designed and built</p>
</div>

<section>

<a href="/index/">< Back</a>

    {{ content | safe }}

</section>

</body>

</html>