<!doctype html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Tom Jepson Creative</title>

<style>
section {
    margin: 0 auto;
    max-width: 1200px;
    width: 75vw;    
}
</style>

</head>

<body>

<a href=“/index/“>< Back</a>

<section>

    {{ content | safe }}

</section>

</body>

</html>